#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>

/*
 * XIAO nRF52840 ピン割り当て
 *
 *  D0  / P0.02 : LCLK
 *  D1  / P0.03 : RCLK
 *  D2  / P0.28 : MCLK
 *  D3  / P0.29 : MB4
 *  D4  / P0.04 : MB5
 *  D5  / P0.05 : CPI切り替えボタン
 *  D6  / P1.11 : IRQ
 *  D7  / P1.12 : CS
 *  D8  / P1.13 : SCK  (ハードウェアSPI)
 *  D9  / P1.14 : MISO (ハードウェアSPI)
 *  D10 / P1.15 : MOSI (ハードウェアSPI)
 *  NFC1/ P0.09 : BT_CLR_ALL用ボタン
 */

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* LCLK        */
            , <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* RCLK        */
            , <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* MCLK        */
            , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* MB4         */
            , <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* MB5         */
            , <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* CPI切り替え  */
            , <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* BT_CLR_ALL  */
            ;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,  /* D8  */
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,  /* D10 */
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;  /* D9  */
        };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;
            low-power-enable;
        };
    };
};

&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 7 GPIO_ACTIVE_LOW>;         /* D7 / P1.12 */

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610-alt";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D6 / P1.11 */

        cpi = <800>;
        invert-y;
    };
};
