/* qtb.keymap */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    behaviors {
        /* 誤爆防止: 1秒以上の長押しでのみ BT_CLR_ALL を発動 */
        bt_clr_safe: bt_clr_safe {
            compatible = "zmk,behavior-hold-tap";
            label = "BT_CLR_SAFE";
            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            bindings = <&bt>, <&none>;
        };
    };

    zip_xy_scaler: zip_xy_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_X INPUT_REL_Y>;
    };

    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_X INPUT_REL_Y>;
    };

    zip_scroll_mapper: zip_scroll_mapper {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        type = <INPUT_EV_REL>;
        map = <INPUT_REL_Y INPUT_REL_WHEEL>;
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        scroll_layer {
            layers = <1>;
            input-processors = <&zip_scroll_scaler (-1) 32>, <&zip_scroll_mapper>;
        };

        layer_1200 {
            layers = <2>;
            input-processors = <&zip_xy_scaler 3 2>;
        };

        layer_1600 {
            layers = <3>;
            input-processors = <&zip_xy_scaler 3 1>;
        };

        layer_400 {
            layers = <4>;
            input-processors = <&zip_xy_scaler 1 2>;
        };

        default_layer {
            layers = <0>;
            input-processors = <&zip_xy_scaler 1 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Layer 0: Default 800 CPI
         *
         *           COL0      COL1      COL2       COL3
         *  ROW0     LCLK      RCLK      MCLK       MB4
         *  ROW1     MB5       CPI切替   左チルト   右チルト
         *  ROW2     BT_CLR    (予約)    (予約)     (予約)
         */
        default_layer {
            display-name = "800";
            bindings = <
                &mkp LCLK              &mkp RCLK   &mkp MCLK   &mkp MB4
                &mkp MB5                &to 2       &msc SCRL_LEFT  &msc SCRL_RIGHT
                &bt_clr_safe BT_CLR_ALL 0   &none       &none       &none
            >;
        };

        /* Layer 1: スクロールモード（MB5ホールド等で遷移する場合用に予約） */
        scroll_layer {
            display-name = "Scroll";
            bindings = <
                &trans &trans &trans &trans
                &trans &trans &trans &trans
                &trans &trans &trans &trans
            >;
        };

        /* Layer 2: 1200 CPI */
        layer_1200_cpi {
            display-name = "1200";
            bindings = <
                &mkp LCLK              &mkp RCLK   &mkp MCLK   &mkp MB4
                &mkp MB5                &to 3       &msc SCRL_LEFT  &msc SCRL_RIGHT
                &bt_clr_safe BT_CLR_ALL 0   &none       &none       &none
            >;
        };

        /* Layer 3: 1600 CPI */
        layer_1600_cpi {
            display-name = "1600";
            bindings = <
                &mkp LCLK              &mkp RCLK   &mkp MCLK   &mkp MB4
                &mkp MB5                &to 4       &msc SCRL_LEFT  &msc SCRL_RIGHT
                &bt_clr_safe BT_CLR_ALL 0   &none       &none       &none
            >;
        };

        /* Layer 4: 400 CPI */
        layer_400_cpi {
            display-name = "400";
            bindings = <
                &mkp LCLK              &mkp RCLK   &mkp MCLK   &mkp MB4
                &mkp MB5                &to 0       &msc SCRL_LEFT  &msc SCRL_RIGHT
                &bt_clr_safe BT_CLR_ALL 0   &none       &none       &none
            >;
        };
    };
};
